<!DOCTYPE html>
<html>
  <head>
    <title>ClerkRailsExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Clerk Rails Example", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= bootstrap_link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Admin", admin_path, class: "nav-link" %>
            </li>
          </ul>
          <div class="d-flex">
            <%= react_component "ClerkWrapper" %>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if clerk_user_signed_in? %>
                    <li>Welcome <%= clerk_user["first_name"] %></li>
                    <li>
                      <%= link_to "User profile", clerk_user_profile_url,
                        class: "dropdown-item" %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Sign up", clerk_sign_up_url, class: "dropdown-item" %>
                    </li>
                    <li>
                      <%= link_to "Sign in", clerk_sign_in_url, class: "dropdown-item" %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

    <%= debug request.env.slice("clerk_session", "clerk_user", "clerk_error") %>
  </body>
</html>
